<ion-view view-title="Sensepoints">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="sensepoint in sensepoints| orderBy : '-id'" type="item-text-wrap" href="#/tab/sensepoints/{{sensepoint.id}}">
        <h2>{{sensepoint.title}}</h2>
        <p>{{sensepoint.date}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(sensepoint)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
