<ion-view view-title="Sense Running">
  <ion-content class="padding">
    <div class="info-main">
        <div class="info-box">
            <div class="info-icon info-inner">
                <div id="stickman-div">  
                </div>
            </div>
            <div class="info-text info-inner">
                <div class="data-text-div">
                    {{distance}}
                </div>
            </div>
        </div>
        <div class="info-box">
            <div class="info-icon info-inner">
                <div id="heart-shape-wrapper">
                    <div class="heart-shape"> </div>
                </div>
            </div>
            <div class="info-text info-inner">
                <div class="data-text-div">
                    ~{{heartbeat}}
                </div>
            </div>
        </div>
        <div class="info-box">
            <div class="info-icon info-inner">
            </div>
            <div class="info-text info-inner">
            </div>
        </div>
        <div class="info-box">
            <div class="info-icon info-inner">
            </div>
            <div class="info-text info-inner">
            </div>
        </div>
        <div class="info-box">
            <div class="info-icon info-inner">
            </div>
            <div class="info-text info-inner">
            </div>
        </div>
        <div class="info-box">
            <div class="info-icon info-inner">
            </div>
            <div class="info-text info-inner">
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
